.nav-item .nav-link {
  font-family: 'Lato', sans-serif;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .9);

}
/*Set topbar height*/
@media only screen and (min-width: 768px) {
  .topbar {
    height: 88px;
  }
}

.page-title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  border-color: rgba(0,0,0,.05);
}

/*.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}*/
/*.list-group-item {
  padding-left: 30px;
  padding-right: 30px;
}*/
.topbar {
	border-bottom: 1px solid #eee;
	border-color: rgba(0,0,0,.05);
  /**/
  padding-bottom:8px;
}
/* .fa.fa-check {
  color: #00e700;
} */
.fa-exclamation-triangle {
  color: #9d2330;
}
.fa-check-circle {
  color: #3c763d
}
.fa-check-square {
  color: #3c763d
}
/* .fa-plus {
  color:#fff;
}
.fa-minus {
  color:#fff;
} */
/*separate cards from each other on mobile*/
/* .device-type {
  margin-bottom: 20px;
} */
/*Match buttons styles to main website*/
.btn-primary {
  /*background: rgba(0, 0, 0, .2);*/
  background: #2d5c88;
  border-radius: .1rem;
  border-width: 0px;
  border-color: #2d5c88;
  color:hsl(209, 85%, 95%) !important;
}
.btn-primary:hover {
  background: #6c8dab;
}
.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group,
.btn-group-vertical .btn+.btn,
.btn-group-vertical .btn+.btn-group,
.btn-group-vertical .btn-group+.btn,
.btn-group-vertical .btn-group+.btn-group {
  margin-left: 0px;
}



/*Style Card*/
.card {
  border-radius: .1rem;
  margin-bottom: 15px
}

.card-header {
  padding: 0px;
}

.device-type {
  padding: .75rem 1.25rem;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
}

.alerts {
  padding: .75rem 1.25rem;
}

.card-link {
  color:rgb(33, 37, 41);
}

#windows .card-header {
  background-color: hsl(204,0%,87%);
  color:hsl(203, 100%, 15%)
}

.alert-devices {
  color: #721c24;
  /* border: 1px solid #f5c6cb; */
  /* background-color: #f8d7da */
}

.ok-devices {
  color: #3c763d;
  /* background-color: #dff0d8; */
  /* border-color: #d6e9c6; */
}

.alert-icon {
  margin-right:15px;
}

.subscriptions i {
  margin-right:15px;
  margin-top:10px;
}

.subscriptions > div {
  margin-bottom: 10px;
}


.details {
  margin-bottom: 15px
}

.details .alert {
  margin-bottom:0px
}



/*General Styling*/
.bg-white {
  background-color: #ffffff !important;
}
.bg-light {
  background-color: #f2f2f2 !important;
}
.bg-primary {
  background-color: #2d5c88 !important;
  color:hsl(209, 85%, 95%) !important;
}

.subscriptions {
  background-color: #f2f2f2 !important;
}
/*Footer styling*/
.footer p {
  font-size: 10px;
}
.footer {
  min-height: 88px;
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.footer-links {
  font-size: 12px;
}
body {
  margin-bottom:110px;
}
html {
  min-height:100%;
  position: relative;
}

div.sticky-bottom {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
}



